<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/home" (click)="handleHomeClick()">Home</button>
        <button type="button" class="btn btn-outline-light me-2" routerLink="/login" (click)="handleLoginClick()">Login</button>
        <button type="button" class="btn btn-outline-light" routerLink="/register" (click)="handleRegisterClick()">Register</button>
      </div>
    </div>
  </div>
</nav>
