<section class="py-4 py-md-5 py-xl-6">
  <div class="container">
    <div class="row gy-3">
      <div class="col-6 col-md-3">
        <div class="link-wrapper">
          <h4 class="mb-2 fw-bold fs-6">Solutions</h4>
          <ul class="m-0 list-unstyled">
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1 link-light">
                Enterprise
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Startups
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Education
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Nonprofits
              </a>
            </li>
            <li>
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Managers
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-wrapper">
          <h4 class="mb-2 fw-bold fs-6">Build</h4>
          <ul class="m-0 list-unstyled">
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1 link-light">
                Integrations
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Templates
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                API Docs
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Guides & Tutorials
              </a>
            </li>
            <li>
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Hire a Consultant
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-wrapper">
          <h4 class="mb-2 fw-bold fs-6">Resources</h4>
          <ul class="m-0 list-unstyled">
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1 link-light">
                Pricing
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                About Us
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Careers
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Media kit
              </a>
            </li>
            <li>
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Email Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-wrapper">
          <h4 class="mb-2 fw-bold fs-6">Explore</h4>
          <ul class="m-0 list-unstyled">
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1 link-light">
                Blog
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Best practice
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Color wheel
              </a>
            </li>
            <li class="mb-1">
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Support
              </a>
            </li>
            <li>
              <a href="#!" class="link-underline-opacity-0 link-opacity-50-hover link-underline-opacity-100-hover link-offset-1
                link-light">
                Developers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
