<div class="py-3 py-md-4 py-xl-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="copyright-wrapper mb-1 fs-7 text-md-center">
          &copy; 2024. All Rights Reserved.
        </div>
        <div class="credit-wrapper text-secondary fs-8 text-md-center">
          Built by<a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">
          BootstrapBrain</a> with <span class="text-body-tertiary">&#9829;</span>
        </div>
      </div>
    </div>
  </div>
</div>
