<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <section class="form-container p-4">
        <form>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="first_name" class="form-control" placeholder=" " />
            <label class="form-label" for="first_name">First Name</label>
          </div>

          <!-- Surname input -->
          <div class="form-outline mb-4">
            <input type="text" id="last_name" class="form-control" placeholder=" " />
            <label class="form-label" for="last_name">Last Name</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" placeholder=" " />
            <label class="form-label" for="email">Email</label>
          </div>

          <!-- Confirm Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="confirm_email" class="form-control" placeholder=" " />
            <label class="form-label" for="confirm_email">Confirm Email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" placeholder=" " />
            <label class="form-label" for="password">Password</label>
          </div>

          <!-- Confirm Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="confirm_password" class="form-control" placeholder=" " />
            <label class="form-label" for="confirm_password">Confirm Password</label>
          </div>

          <!-- Submit button -->
          <button id="submit_button" type="button" class="btn btn-block mb-4">Register</button>
        </form>
      </section>
    </div>
  </div>
</div>
